#!/usr/bin/env bash

PS4='+ ${BASH_SOURCE}:${LINENO}:${FUNCNAME[0]} '
set -e

projectdir=$(dirname "$0")
CONFIG="$projectdir/.config"
config_projects="$projectdir/.config.projects"
dashboard_file="$projectdir/dashboard.txt"
JOB_FILE="$projectdir/current_job.txt"

. "$projectdir/stdlib.bash"
. "$projectdir/history.bash"
. "$projectdir/update.bash"
. "$projectdir/main.bash"
. "$projectdir/in_work.bash"
. "$projectdir/to_work.bash"
. "$projectdir/done_work.bash"
. "$projectdir/todo.bash"
. "$projectdir/do_work.bash"
. "$projectdir/local_check.bash"
. "$projectdir/control_estimate.bash"
. "$projectdir/skip_work.bash"
. "$projectdir/current_job.bash"


# if arguments is 0, show dashboard(fetch
# new data or get from file(today))
if [ $# -eq 0 ]; then
  main
  EXIT_PREVIOUS_COMMAND_CODE
fi


# if $1 == update - fetch new data
if [[ $1 = "update" || $1 = "u" ]]; then
  update
  EXIT_PREVIOUS_COMMAND_CODE
fi


# if $1 == in-work - get current project
# and issue in work
# $2 - if is "-e", exit
#      if is "--update" or "-u", update current issue
if [[ $1 = "in-work" || $1 = "in" ]]; then
  case "$2" in
    ""|"-e"|"--update"|"-u")
      inwork "$2"
      EXIT_PREVIOUS_COMMAND_CODE
      ;;
    *)
      log_warn "Bad argument"
      EXIT_FAILURE
      ;;
  esac
fi


# if $1 == to-work - set current project
# and issue in work
if [[ $1 = "to-work" || $1 = "to" ]]; then
  if [[ ( -z "$2" && -z "$3" ) || ( -n "$2" && -n "$3") ]]; then
    towork "$2" "$3"
    EXIT_PREVIOUS_COMMAND_CODE
  fi
fi


# if $1 == done - set current project
# and issue is done
# remove file 'current_job.txt'
if [[ $1 = "done" ]]; then
  donework
  EXIT_PREVIOUS_COMMAND_CODE
fi


# if $1 == todo - work with future ideas
if [[ $1 = "todo" ]]; then
  case "$2" in
    ""|"--read"|"-r"|"--add"|"-a"|"--edit"|"-e")
      todo "$2"
      EXIT_PREVIOUS_COMMAND_CODE
    ;;
    *)
      log_warn "Bad argument"
      EXIT_FAILURE
    ;;
  esac
fi


# if $1 == history - show available history of jobs
# if $2 is "clean" - delete all history
if [[ $1 = "history" ]]; then
  case "$2" in
    ""|"clean")
      control_history "$2"
      EXIT_PREVIOUS_COMMAND_CODE
    ;;
    *)
      log_warn "Bad argument"
      EXIT_FAILURE
    ;;
  esac
fi


# if $1 == do-work - open editor with project of current issues
# if $2 - must be the path to directory with projects(options, for set new path)
if [[ $1 = "do-work" || $1 = "do" ]]; then
  dowork "$2" # validation of $2 inside this function
  EXIT_PREVIOUS_COMMAND_CODE
fi


# if $1 == local - show git status of local projects
if [[ $1 = "local" ]]; then
  local_check
  EXIT_PREVIOUS_COMMAND_CODE
fi


# $2 == -d - show details, job date and how long its take
if [[ $1 = "estimate" ]]; then
  case "$2" in
    ""|"-d")
      control_estimate "$2"
      EXIT_PREVIOUS_COMMAND_CODE
    ;;
    *)
      log_warn "Bad argument"
      EXIT_FAILURE
    ;;
  esac
fi


if [[ $1 = "skip" ]]; then
  skip_work
  EXIT_SUCCESS
fi


if [[ $1 ]]; then
  log_info "Command not correct!\n"
  cat "$projectdir/README.md"
fi

set +e
